.cta {
  background: #020d22;
  padding: 80px 20px;
}

.cta-content {
  max-width: 1100px;
  margin: auto;
  padding: 80px 40px;

  text-align: center;

  border-radius: 28px;

  background: linear-gradient(
    135deg,
    #092b52,
    #063b70
  );

  border: 1px solid #18588d;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}

.cta-content > span {
  color: #19a8ff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
}

.cta-content h2 {
  color: white;
  font-size: 52px;
  line-height: 1.15;
  margin: 18px 0;
}

.cta-content h2 span {
  color: #19a8ff;
}

.cta-content p {
  color: #c4d3e5;
  font-size: 18px;
  line-height: 1.7;
  max-width: 650px;
  margin: 0 auto 30px;
}

.cta-btn {
  padding: 15px 32px;

  border: none;
  border-radius: 10px;

  background: #19a8ff;
  color: white;

  font-size: 17px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s;
}

.cta-btn:hover {
  background: #078bd8;
  transform: translateY(-3px);
}

@media (max-width: 600px) {
  .cta-content {
    padding: 60px 20px;
  }

  .cta-content h2 {
    font-size: 36px;
  }
}