* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #071c2c;
  --navbar: #0b2336;
  --card: #14314a;
  --primary: #19a8ff;
  --primary-hover: #0b93e7;
  --text: #ffffff;
  --secondary: #c7d3df;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}