.hero {
  min-height: calc(100vh - 90px);
  background: #071b2d;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0 10%;
}

.hero-content {
  max-width: 700px;
}

.badge {
  display: inline-block;
  background: rgba(25, 168, 255, 0.15);
  color: #19a8ff;
  border: 1px solid #19a8ff;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 25px;
}

.hero h1 {
  color: #ffffff;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.hero p {
  color: #d4dce5;
  font-size: 24px;
  line-height: 1.7;
  margin-bottom: 45px;
  max-width: 650px;
}

.hero-buttons {
  display: flex;
  gap: 25px;
}

.primary-btn {
  width: 220px;
  height: 65px;

  border: none;
  border-radius: 12px;

  background: #19a8ff;
  color: #071b2d;

  font-size: 24px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #0d94e8;
  transform: translateY(-4px);
}

.secondary-btn {
  width: 260px;
  height: 65px;

  background: transparent;
  color: #19a8ff;

  border: 2px solid #19a8ff;
  border-radius: 12px;

  font-size: 22px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.secondary-btn:hover {
  background: #19a8ff;
  color: #071b2d;
}